    <div nz-row nzType="flex" nzJustify="center">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <div class="topnav">
                    <a class="active" href="#home">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);">Home</span>
                    </a>
                    <a href="#calender">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);"> Exam Calender</span>
                    </a>
                    <a href="#result">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);">Exam Results</span>
                    </a>
                    <a href="#downloadCrtificate">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);">Certificates Download</span>
                    </a>
                    <a href="#downloadSylabus">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);">Syllabus Download</span>
                    </a>
                    <a href="#contact">
                        <span style="font-weight: bold;color: rgb(59, 59, 59);">Contact Us</span>
                    </a>
                    <div style="text-align: left;">
                        <i nz-icon nzType="search" nzTheme="outline" style="    margin: 15px 10px 0 0;
                        color: #1890ff;
                        font-size: 18px;
                        float: left;"></i>
                        <input type="text" pInputText size="50" placeholder="Search" style="width:auto"
                            style="width:250px;border-radius: 5px;float:left">
                    </div>
                </div>
            </div> 
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <input type="image" src="./assets/images/te.PNG" alt="Submit" width=1400 height="400">
            </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCell"></div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCellsOne">
                <span class="subTopic">Our Services</span>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/1.PNG" alt="Submit" width=200 height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/2.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/3.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/4.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/5.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/6.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/7.PNG" alt="Submit" width=200 height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/8.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/9.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/10.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/11.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/12.PNG" alt="Submit" width="300" height="200"
                            onclick="goService()">
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/13.PNG" alt="Submit" width=200 height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/14.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/15.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                        <input type="image" src="./assets/images/16.PNG" alt="Submit" width="200" height="200"
                            onclick="goService()">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCell"></div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCellsOne">
                <span class="subTopic">News Headlines</span>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" class="inputCells">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card style="width:850px;"
                            nzTitle="Applying for certificates of Mulika Piriven, Bauddha Dharmacharya, National Dancing/Music, Western Music (Theory/ Practical) Examinations."
                            [nzExtra]="extraTemplate">
                            <p>Download :
                                <a href="url"> English </a>
                                <a href="url">Sinhala </a>
                                <a href="url">Tamil </a>
                            </p>
                        </nz-card>
                        <ng-template #extraTemplate>
                            <a>More...</a>
                        </ng-template>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card style="width:850px;"
                            nzTitle="GCE (O / L) Examination - Issuing Analytical Reports in regard to 2019 Examination results."
                            [nzExtra]="extraTemplate">
                            <p>
                                <a href="url"> View </a>
                            </p>
                        </nz-card>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card style="width:850px;"
                            nzTitle="General Information Technology Examination - Mock Examination 2019 / 2020."
                            [nzExtra]="extraTemplate">
                            <p>This online examination is conducted by the Department of Examinations of Sri Lanka as a
                                preparation for the students who wish to sit for the General Information Technology
                                Examination 2019 / 2020. It can be accessed through https://dse1.onlineexams.gov.lk In
                                case
                                of having a technical problem or any other query regarding this test, please email it
                                to:
                                doeonlineexams@gmail.com for further advice and information.
                            </p>
                            <a href="url"> Visit online examinations system </a>
                        </nz-card>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card style="width:850px;" nzTitle="Special Notice." [nzExtra]="extraTemplate">
                            <p>Closing dates of calling applications of all the examinations, conducted by the
                                Department of
                                Examinations, Sri Lanka, have been extended until further notice. As such, closing dates
                                of
                                recruitment and other examinations will be announced by the relevant institutes in due
                                course.
                            </p>
                        </nz-card>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card style="width:850px;"
                            nzTitle="Calling applications (Online) G.C.E.(A/L) Examination - 2020 and Grade 5 Scholarship Examination - 2020."
                            [nzExtra]="extraTemplate">
                            <p>Download :
                                <a href="url"> English </a>
                                <a href="url">Sinhala </a>
                                <a href="url">Tamil </a>
                            </p>
                        </nz-card>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" class="inputCells">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <nz-card nzHoverable style="width:400px" [nzCover]="coverTemplate">
                            <nz-card-meta nzTitle="B.Sanath Pujitha"
                                nzDescription="Commissioner General of Examinations"></nz-card-meta>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <img src="./assets/images/man.PNG" />
                        </ng-template>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                        <button nz-button nzType="primary" nzBlock>Tell Commissioner Center</button>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCell"></div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCellsOne">
                <span class="subTopic">Latest Articels</span>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="inputCells">
                    <input type="image" src="./assets/images/k.PNG" alt="Submit" width="270" height="270"
                        onclick="goArticels()">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="inputCells">
                    <input type="image" src="./assets/images/k1.PNG" alt="Submit" width="270" height="270"
                        onclick="goArticels()">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="inputCells">
                    <input type="image" src="./assets/images/k2.PNG" alt="Submit" width="270" height="270"
                        onclick="goArticels()">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="inputCells"></div>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCell"></div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCellsOne">
                <span class="subTopic">Othere Links</span>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l1.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='http://www.moe.gov.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l2.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='https://www.oriental.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l3.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='http://www.nie.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l4.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='http://www.schoolnet.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l8.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='http://www.ou.ac.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l5.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='https://www.ugc.ac.lk/'">
                </div>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="inputCells">
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l6.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='http://www.gic.gov.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells">
                    <input type="image" src="./assets/images/l7.PNG" alt="Submit" width="200" height="70"
                        onclick="parent.location='https://www.facebook.com/doe.gov.lk/'">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="inputCells"></div>
            </div>
        </div>
    </div>
